[submodule ".audit-report"]
	path = .audit-report
	url = git@github.com:informalsystems/audit-reports.git
[submodule "2022/Q3/artifacts/cosmos-sdk"]
	path = 2022/Q3/artifacts/cosmos-sdk
	url = https://github.com/osmosis-labs/cosmos-sdk
[submodule "2022/Q3/artifacts/osmosis"]
	path = 2022/Q3/artifacts/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
[submodule "2022/Q4/artifacts/TWAP-Balancer/osmosis"]
	path = 2022/Q4/artifacts/TWAP-Balancer/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
[submodule "2022/Q4/artifacts/StableSwap/osmosis"]
	path = 2022/Q4/artifacts/StableSwap/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
